<%= session[:flash] %> <br />

<% if !session[:logged_in] %>
  <a href='login'><img src='images/fb_login_button.png'></a>
<% else %>
  <a href='logout'><img src='images/fb_logout_button.png'></a>

  <h3>
    <%= 'Hello, ' + session[:name] %>
  </h3>

  <% session[:likes].each do |like| %>
    <%= "#{like[:category]}, #{like[:name]} (#{like[:id]})" %></br>
  <% end %>

  <hr />
  <p><span class='like_site'>Do you like this site?</span></p>
  <p><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffaceboku.heroku.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe></p>

<% end %>
